[package]
name = "pallet-ethink"
version = "0.1.0"
license = "Apache-2.0"
description = "Ethereum RPC compatibility aid for pallet-contracts"
edition = { workspace = true }

[dependencies]
ethereum = { workspace = true }
ethereum-types = { workspace = true, default-features = false }
scale-codec = { package = "parity-scale-codec", workspace = true, default-features = false }
scale-info = { workspace = true, default-features = false }
# Substrate
frame-support = { workspace = true, default-features = false }
frame-system = { workspace = true, default-features = false }
sp-io = { workspace = true, default-features = false }
sp-runtime = { workspace = true, default-features = false }
sp-std = { workspace = true, default-features = false }
sp-core = { workspace = true, default-features = false }
log = { workspace = true }

[dev-dependencies]
hex = { workspace = true, default-features = false }
libsecp256k1 = { workspace = true, features = ["static-context", "hmac"] }
rlp = { workspace = true, default-features = false }
# Substrate
pallet-balances = { workspace = true, features = ["default"] }
sp-core = { workspace = true, features = ["default"] }

[features]
default = ["std"]
std = [
	"ethereum-types/std",
	"rlp/std",
	"scale-codec/std",
	"scale-info/std",
	# Substrate
	"frame-support/std",
	"frame-system/std",
	"sp-io/std",
	"sp-runtime/std",
	"sp-std/std",
]
runtime-benchmarks = [
	"frame-support/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
]
try-runtime = [
	"frame-support/try-runtime",
	"frame-system/try-runtime",
]
