[package]
name = "contracts-node-runtime"
version = "0.30.0"
authors = ["Parity Technologies <admin@parity.io>"]
edition = "2021"
license = "Unlicense"
homepage = "https://github.com/paritytech/substrate-contracts-node"
repository = "https://github.com/paritytech/substrate-contracts-node"
build = "build.rs"
publish = false

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
codec = { package = "parity-scale-codec", version = "3.6.1", default-features = false, features = ["derive"] }
scale-info = { version = "2.5.0", default-features = false, features = ["derive"] }

pallet-aura = { git = "https://github.com/paritytech/polkadot-sdk", default-features = false, rev = "33691" }
pallet-grandpa = { git = "https://github.com/paritytech/polkadot-sdk", default-features = false, rev = "33691" }
pallet-assets = { git = "https://github.com/paritytech/polkadot-sdk", default-features = false, rev = "33691" }
pallet-balances = { git = "https://github.com/paritytech/polkadot-sdk", default-features = false, rev = "33691" }
frame-support = { git = "https://github.com/paritytech/polkadot-sdk", default-features = false, rev = "33691" }
pallet-insecure-randomness-collective-flip = { git = "https://github.com/paritytech/polkadot-sdk", default-features = false, rev = "33691" }
pallet-sudo = { git = "https://github.com/paritytech/polkadot-sdk", default-features = false, rev = "33691" }
frame-system = { git = "https://github.com/paritytech/polkadot-sdk", default-features = false, rev = "33691" }
pallet-timestamp = { git = "https://github.com/paritytech/polkadot-sdk", default-features = false, rev = "33691" }
pallet-transaction-payment = { git = "https://github.com/paritytech/polkadot-sdk", default-features = false, rev = "33691" }
frame-executive = { git = "https://github.com/paritytech/polkadot-sdk", default-features = false, rev = "33691" }
sp-api = { git = "https://github.com/paritytech/polkadot-sdk", default-features = false, rev = "33691" }
sp-block-builder = { git = "https://github.com/paritytech/polkadot-sdk", default-features = false, rev = "33691" }
sp-core = { git = "https://github.com/paritytech/polkadot-sdk", default-features = false, rev = "33691" }
sp-consensus-aura = { git = "https://github.com/paritytech/polkadot-sdk", default-features = false, rev = "33691" }
sp-inherents = { git = "https://github.com/paritytech/polkadot-sdk", default-features = false, rev = "33691" }
sp-offchain = { git = "https://github.com/paritytech/polkadot-sdk", default-features = false, rev = "33691" }
sp-runtime = { git = "https://github.com/paritytech/polkadot-sdk", default-features = false, rev = "33691" }
sp-io = { git = "https://github.com/paritytech/polkadot-sdk", default-features = false, rev = "33691" }
sp-session = { git = "https://github.com/paritytech/polkadot-sdk", default-features = false, rev = "33691" }
sp-std = { git = "https://github.com/paritytech/polkadot-sdk", default-features = false, rev = "33691" }
sp-transaction-pool = { git = "https://github.com/paritytech/polkadot-sdk", default-features = false, rev = "33691" }
sp-version = { git = "https://github.com/paritytech/polkadot-sdk", default-features = false, rev = "33691" }
pallet-utility = { git = "https://github.com/paritytech/polkadot-sdk", default-features = false, rev = "33691" }

# Used for the node's RPCs
frame-system-rpc-runtime-api = { git = "https://github.com/paritytech/polkadot-sdk", default-features = false, rev = "33691" }
pallet-transaction-payment-rpc-runtime-api = { git = "https://github.com/paritytech/polkadot-sdk", default-features = false, rev = "33691" }

# Contracts specific packages
pallet-contracts = { git = "https://github.com/paritytech/polkadot-sdk", default-features = false, rev = "33691" }
pallet-contracts-primitives = { git = "https://github.com/paritytech/polkadot-sdk", default-features = false, rev = "33691" }

[build-dependencies]
substrate-wasm-builder =  { git = "https://github.com/paritytech/polkadot-sdk", optional = true, rev = "33691" }

[features]
default = [
	"std",
]
std = [
	"codec/std",
	"scale-info/std",
	"frame-executive/std",
	"frame-support/std",
	"frame-system-rpc-runtime-api/std",
	"frame-system/std",
	"pallet-aura/std",
	"pallet-grandpa/std",
	"pallet-balances/std",
	"pallet-insecure-randomness-collective-flip/std",
	"pallet-sudo/std",
	"pallet-timestamp/std",
	"pallet-transaction-payment-rpc-runtime-api/std",
	"pallet-transaction-payment/std",
	"sp-api/std",
	"sp-block-builder/std",
	"sp-core/std",
	"sp-inherents/std",
	"sp-offchain/std",
	"sp-runtime/std",
	"sp-session/std",
	"sp-std/std",
	"sp-transaction-pool/std",
	"sp-version/std",
	"pallet-contracts/std",
	"pallet-contracts-primitives/std",
	"pallet-assets/std",
	"substrate-wasm-builder",
]
