[package]
name = "polkamask-node"
version = "4.0.0-dev"
description = "A fresh FRAME-based Substrate node, ready for hacking."
authors = ["Substrate DevHub <https://github.com/substrate-developer-hub>"]
homepage = "https://substrate.io/"
edition.workspace = true
license = "MIT-0"
publish = false
repository = "https://github.com/substrate-developer-hub/substrate-node-template/"
build = "build.rs"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[[bin]]
name = "polkamask-node"

[dependencies]
clap = { version = "4.4.2", features = ["derive"] }
futures = { version = "0.3.21", features = ["thread-pool"]}

sc-cli = { git = "https://github.com/agryaznov/polkadot-sdk", branch = "ag/polkamask" }
sp-core = { workspace = true, default-features = false }
sc-executor = { git = "https://github.com/agryaznov/polkadot-sdk", branch = "ag/polkamask" }
sc-network = { git = "https://github.com/agryaznov/polkadot-sdk", branch = "ag/polkamask" }
sc-service = { git = "https://github.com/agryaznov/polkadot-sdk", branch = "ag/polkamask" }
sc-telemetry = { git = "https://github.com/agryaznov/polkadot-sdk", branch = "ag/polkamask" }
sc-transaction-pool = { git = "https://github.com/agryaznov/polkadot-sdk", branch = "ag/polkamask" }
sc-transaction-pool-api = { git = "https://github.com/agryaznov/polkadot-sdk", branch = "ag/polkamask" }
sc-offchain = { git = "https://github.com/agryaznov/polkadot-sdk", branch = "ag/polkamask" }
sc-consensus-aura = { git = "https://github.com/agryaznov/polkadot-sdk", branch = "ag/polkamask" }
sp-consensus-aura = { git = "https://github.com/agryaznov/polkadot-sdk", branch = "ag/polkamask" }
sc-consensus = { git = "https://github.com/agryaznov/polkadot-sdk", branch = "ag/polkamask" }
sc-consensus-grandpa = { git = "https://github.com/agryaznov/polkadot-sdk", branch = "ag/polkamask" }
sp-consensus-grandpa = { git = "https://github.com/agryaznov/polkadot-sdk", branch = "ag/polkamask" }
sc-client-api = { git = "https://github.com/agryaznov/polkadot-sdk", branch = "ag/polkamask" }
sp-runtime = { workspace = true, default-features = false }
sp-io = { git = "https://github.com/agryaznov/polkadot-sdk", branch = "ag/polkamask" }
sp-timestamp = { git = "https://github.com/agryaznov/polkadot-sdk", branch = "ag/polkamask" }
sp-inherents = { git = "https://github.com/agryaznov/polkadot-sdk", branch = "ag/polkamask" }
sp-keyring = { git = "https://github.com/agryaznov/polkadot-sdk", branch = "ag/polkamask" }
frame-system = { git = "https://github.com/agryaznov/polkadot-sdk", branch = "ag/polkamask" }
pallet-transaction-payment = { git = "https://github.com/agryaznov/polkadot-sdk", branch = "ag/polkamask" }

# These dependencies are used for the node template's RPCs
jsonrpsee = { version = "0.16.2", features = ["server"] }
sp-api = { workspace = true, default-features = false }
sc-rpc = { git = "https://github.com/agryaznov/polkadot-sdk", branch = "ag/polkamask" }
sc-rpc-api = { git = "https://github.com/agryaznov/polkadot-sdk", branch = "ag/polkamask" }
sp-blockchain = { git = "https://github.com/agryaznov/polkadot-sdk", branch = "ag/polkamask" }
sp-block-builder = { git = "https://github.com/agryaznov/polkadot-sdk", branch = "ag/polkamask" }
sc-basic-authorship = { git = "https://github.com/agryaznov/polkadot-sdk", branch = "ag/polkamask" }
substrate-frame-rpc-system = { git = "https://github.com/agryaznov/polkadot-sdk", branch = "ag/polkamask" }
pallet-transaction-payment-rpc = { git = "https://github.com/agryaznov/polkadot-sdk", branch = "ag/polkamask" }

# These dependencies are used for runtime benchmarking
frame-benchmarking = { git = "https://github.com/agryaznov/polkadot-sdk", branch = "ag/polkamask" }
frame-benchmarking-cli = { git = "https://github.com/agryaznov/polkadot-sdk", branch = "ag/polkamask" }

# Local Dependencies
#TODO put to workspace deps
polkamask-runtime = { path = "../runtime" }
polkamask-rpc = { path = "../../client/rpc" }
pmp-rpc = { workspace = true, features = ["default"] }
pmp-account = { workspace = true }

hex-literal = { worspace = true }

# CLI-specific dependencies
try-runtime-cli = { git = "https://github.com/agryaznov/polkadot-sdk", branch = "ag/polkamask", optional = true }

[build-dependencies]
substrate-build-script-utils = { git = "https://github.com/agryaznov/polkadot-sdk", branch = "ag/polkamask" }

[features]
default = []
# Dependencies that are only required if runtime benchmarking should be build.
runtime-benchmarks = [
	"frame-benchmarking-cli/runtime-benchmarks",
	"frame-benchmarking/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"sc-service/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
]
# Enable features that allow the runtime to be tried and debugged. Name might be subject to change
# in the near future.
try-runtime = [
	"frame-system/try-runtime",
	"pallet-transaction-payment/try-runtime",
	"sp-runtime/try-runtime",
	"try-runtime-cli/try-runtime",
]
