[package]
name = "polkamask-rpc"
version = "0.1.0"
description = "Ethereum RPC compatibility layer for pallet-contracts"
edition = "2021"

[dependencies]
ethereum-types = { workspace = true }
jsonrpsee = { workspace = true, features = ["server", "macros"] }

# Frontier
fc-rpc-core = { version = "1.1.0-dev", git = "https://github.com/paritytech/frontier", rev = "c4ef2fe7" }
pmp-rpc = { workspace = true, features = ["default"] }

# Substrate
sp-api = { git = "https://github.com/paritytech/polkadot-sdk", rev = "33691", default-features = false }
sp-runtime = { git = "https://github.com/paritytech/polkadot-sdk", rev = "33691", default-features = false }
sp-blockchain  = { git = "https://github.com/paritytech/polkadot-sdk", rev = "33691", default-features = false }

[features]
default = []
